<button class="btn btn-outline-success" data-toggle="modal" data-target="#modal-1">Open Modal 1</button>
<button class="btn btn-outline-success" data-toggle="modal" data-target="#modal-2">Open Modal 2</button>

<div class="modal fade" id="modal-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">General Terms and Conditions</h4>
        <button type="button" class="close">
          <i class="fa fa-print"></i>
        </button>
        <button type="button" class="close">
          <i class="fa fa-download"></i>
        </button>
        <!-- <span><i class="fa fa-print"></i></span>
        <span><i class="fa fa-download"></i></span> -->
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <!-- {{GeneralTerms | markdown}} -->
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-2">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal 2 Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        Modal 2 body..
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
