.navbar-brand {
    cursor: pointer;
}

.nav-link {
    cursor: pointer;
}

.nav-item {
    padding-right: 10px;
    padding-left: 10px;
}

.nav-item:hover {
    /* background: rgb(6, 80, 64); */
    background: rgba(0, 59, 47, 0.9);
    /* color: rgba(6, 80, 64, 0.9) !important; */
    transition: ease-in 0.5s;
    border-radius: 5px;
}

.active {
    /* background: rgb(6, 80, 64); */
    background: rgba(0, 59, 47, 0.9);
    /* color: rgba(6, 80, 64, 0.9) !important; */
    /* transition: ease-in 0.5s; */
    border-radius: 5px;
}

.bg-dark {
    background: rgb(255, 255, 255, 0.1) !important;
}

.input-group-text {
    border: none;
    color: #ffffff;
    background-color: transparent;
}

.search {
    cursor: pointer;
}

.input-group {
    border: 1px solid #59fad6;
    border-radius: .30rem;
}

.fixed-top {
    background: rgba(6, 80, 64, 0.9);
}