<nav id="navbar" class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a [routerLink]="['home']" class="navbar-brand">
    <img class="rounded-circle" src="assets/images/logo.png" width="30" height="25" alt="Home">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Components
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['map']">Google Map</a>
          <a class="dropdown-item" [routerLink]="['modals']">Modals</a>
          <a class="dropdown-item" [routerLink]="['elements']">Elements</a>
          <a class="dropdown-item" [routerLink]="['upload']">Upload</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['profile']">
          <img class="rounded-circle" src="assets/images/logo.png" width="30" height="25" alt="Profile">
          <span>Supratik Roy</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">
          <i class="fa fa-bell"></i>
          <span class="badge badge-notify">{{nCount}}</span>
        </a>
        <div class="dropdown-menu">
          <div class="dropdown-header">Notifications</div>
          <div class="dropdown-divider"></div>
          <div class="dropdown-item" *ngFor="let notification of notifications">{{notification.name}}</div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">
          <i class="fa fa-bell"></i>
          <span class="badge badge-notify">{{mCount}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-left">
          <div class="dropdown-header">Messages</div>
          <div class="dropdown-divider"></div>
          <div class="dropdown-item" *ngFor="let notification of notifications">{{notification.username}}</div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onLogout()">
          <i class="fa fa-power-off"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
