<nav id="navbar" class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a [routerLink]="['home']" class="navbar-brand">
      <img class="rounded-circle" src="assets/images/user-img.jpg" width="25" alt="Home">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['profile']">
          <img class="rounded-circle" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=25" alt="Profile">
          Supratik Roy
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><i class="fa fa-bell"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><i class="fa fa-comment"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onLogout()"><i class="fa fa-power-off"></i></a>
      </li>
    </ul>
  </div>  
</nav>