.navbar-brand {
    cursor: pointer;
}

.nav-link {
    cursor: pointer;
}

.nav-item:hover {
    color: #59fad6;
}

.bg-dark {
    background: rgb(255, 255, 255, 0.1) !important;
}

.input-group-text {
    border: none;
    color: #ffffff;
    background-color: transparent;
}

.search {
    cursor: pointer;
}

.input-group {
    border: 1px solid #59fad6;
    border-radius: .30rem;
}

.fixed-top {
    background: rgb(13, 30, 49);
}