<nav class="navbar navbar-expand-sm bg-dark">
  <a class="navbar-brand" (click)="toggleNav()">
    <i class="fa fa-bars"></i>
  </a>
  <a [routerLink]="['profile']" class="navbar-brand">
    <img src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=25" alt="Profile">
  </a>
  <form class="form-inline my-2 my-lg-0">
    <div class="input-group">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <div class="input-group-append">
        <span class="input-group-text">
          <i class="fa fa-search"></i>
        </span>
      </div>
    </div>
  </form>
  <!-- Links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link">
        <i class="fa fa-bell"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <i class="fa fa-envelope"></i>
      </a>
    </li>
  </ul>

</nav>