.form-signin
{
    max-width: 400px;
    /* padding: 15px; */
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: rgba(10, 27, 47, 0.7);
    border: 2px solid rgb(26, 52, 65);
    border-radius: 10px;
    /* -moz-box-shadow: 15px 15px 10px #0e1f32;
    -webkit-box-shadow: 15px 15px 10px #0e1f32;
    box-shadow: 15px 15px 10px #0e1f32; */
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
.input-group-prepend {
    width: 50px;
}