<!-- <ul>
  <li><a [routerLink]="['home']">Home</a></li>
  <li><a [routerLink]="['profile']">Profile</a></li>
  <li><a [routerLink]="['my-docs']">My Documents</a></li>
  <li><a [routerLink]="['upload']">Upload</a></li>
</ul> -->
<div id="mySidenav" class="sidenav">
  <div class="sidenav-header">
    <!-- <img src="" alt="SideNav Logo"> -->
  </div>
  <div class="sidenav-items">
    <a *ngFor="let route of routerList" [routerLink]="[route.path]">
      <i class="{{route.icon}}"></i> {{route.display}}</a>
    <!-- <a [routerLink]="['home']"><i class="fa fa-home"></i> Home</a>
      <a [routerLink]="['profile']"><i class="fa fa-user"></i> Profile</a>
      <a [routerLink]="['my-docs']"><i class="fa fa-file"></i> My Documents</a>
      <a [routerLink]="['upload']"><i class="fa fa-upload"></i> Upload</a> -->
  </div>
</div>
